[submodule "frontend"]
    path = frontend
    url = https://github.com/notnick2/swipe-invoice-frontend.git

[submodule "backend"]
    path = backend
    url = https://github.com/notnick2/swipe-invoice-backend.git
